# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/
xcuserdata/

# SPM
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Local generated pet experiments
GeneratedPets/
character.png
/pet.json
/spritesheet.webp
LilAgents/*.mov

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Sparkle
*.dmg
*.zip
*.xcworkspace/xcshareddata/swiftpm/
